@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ocultar scrollbars en toda la app sin perder la funcionalidad de scroll */
* {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
  -webkit-tap-highlight-color: transparent;
}
*::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}
